<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.jdavid.com.Controladores" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name="app.jdavid.com.Controladores.MainActivity"
            android:label="Easy Eat" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission
                android:name="android.permission.FLASHLIGHT"
                android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
                android:protectionLevel="normal" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-feature android:name="android.hardware.camera" />
            <uses-feature
                android:name="android.hardware.camera.autofocus"
                android:required="false" />
            <uses-feature
                android:name="android.hardware.camera.flash"
                android:required="false" />
        </activity>
        <activity
            android:name="app.jdavid.com.Controladores.escanearActivity"
            android:label="Escanear" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.jdavid.com.Controladores.aliadosActivity"
            android:label="Aliados" >
        </activity>
        <activity
            android:name="app.jdavid.com.Controladores.menuActivity"
            android:label="Menú" >
        </activity>
        <activity
            android:name="app.jdavid.com.Controladores.subMenuActivity"
            android:label="@string/title_activity_sub_menu" >
        </activity>
    </application>

</manifest>
